<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>contact page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, beatae non odio aut expedita ipsam, nemo totam eaque architecto est vero! Corporis, tempora blanditiis! Hic officiis cumque molestiae eaque eum.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam aut illum odit nemo eligendi eum non dolores tempora numquam, totam tenetur, quo ab fugiat saepe aperiam dolor vel provident dicta?</p>
</body>
</html>