<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum iste reprehenderit amet expedita vel ratione, nesciunt ducimus accusantium asperiores necessitatibus at nostrum eveniet molestias animi suscipit enim hic? Dolores, commodi.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam placeat obcaecati ut dolore, laboriosam corporis numquam perspiciatis ullam officiis quae, tempore ipsam sunt. Soluta aliquid, alias laborum aperiam sit suscipit?</p>
</body>
</html>