{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
  <!-- start banner Area -->
  <section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row fullscreen align-items-center justify-content-between">
        <div class="col-lg-6 col-md-6 banner-left">
          <h6 class="text-white">Away from monotonous life</h6>
          <h1 class="text-white">Magical Travel</h1>
          <p class="text-white">If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- Start popular-destination Area -->
  <section class="popular-destination-area section-gap">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">تور های پیش رو</h1>
            <p>سه تور پیش روی که در بهمن ماه برگزار میشوند برای ثبت نام در تور ها باید به صفحه ی contact مراجعه کنید</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/tours/masal/pic3.jfif' %}" alt="" />
            </div>
            <div class="desc">
              <a href="{% url "website:tourone" %}" class="price-btn">اطلاعات بیشتر</a>
              <h4>ماسال</h4>
              <p>بهشت روی زمین</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/tours/masole/pic1.jfif' %}" alt="" />
            </div>
            <div class="desc">
              <a href="{% url "website:tourtwo" %}" class="price-btn">اطلاعات بیشتر</a>
              <h4>ماسوله</h4>
              <p>دومین شهر زنده باستانی جهان</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg "></div>
              <img class="img-fluid" src="{% static 'img/tours/kish/pic6.jpg' %}" alt="" />
            </div>
            <div class="desc">
              <a href="{% url "website:tourthree" %}" class="price-btn">اطلاعات بیشتر</a>
              <h4>جزیره کیش</h4>
              <p>جزیره ی زیبایی</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End popular-destination Area -->

  <!-- Start other-issue Area -->
  <section class="other-issue-area section-gap">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-9">
          <div class="title text-center">
            <h1 class="mb-10">آخرین سفرنامه های به اشتراک گذاشته شده</h1>
            <p>شما هم میتوانید پس از ساخت پروفایل کاربری شروع به اشتراک گذاشتن سفرنامه هایتان کنید</p>
          </div>
        </div>
      </div>
      
      <div class="row">
        {% for post in posts %}
        <div class="col-lg-3 col-md-6">
          <div class="single-other-issue">
            <div class="thumb">
              <a href="{% url "blog:single_blog" post.id %}"><img class="img-fluid" src="{{post.image.url}}" alt="" /></a>
            </div>
            <div class="ct">
              <a class="title" href="{% url "blog:single_blog" post.id %}"><h4>{{post.title}}</h4></a>
              <p class="content">{{post.content}}</p>
          </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End other-issue Area -->

  <!-- Start home-about Area -->
  <section class="home-about-area">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-end">
        <div class="col-lg-6 col-md-12 home-about-left">
          <h1>
            Did not find your Package? <br />
            Feel free to ask us. <br />
            We‘ll make it for you
          </h1>
          <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
          <a href="#" class="primary-btn text-uppercase">request custom price</a>
        </div>
        <div class="col-lg-6 col-md-12 home-about-right no-padding">
          <img class="img-fluid" src="{% static 'img/about-img.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End home-about Area -->

  <!-- Start blog Area -->
  <section class="recent-blog-area section-gap">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-60 col-lg-9">
          <div class="title text-center">
            <h1 class="mb-10">عکس های کاربران</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="active-recent-blog-carusel">
          {% for gall in gallery %}
          <div class="single-recent-blog-post item">
            <div class="ُ">
              <img class="img-fluid img-posts" src="{{gall.image.url}}" alt="">
            </div>
            <div class="details">
              <a href="#"><h4 class="title"></h4></a>
              <p class="content"></p>
              <h6 class="date"></h6>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- End recent-blog Area -->
   <style>
    .date, .content{
      direction: rtl;
      text-align: right;
    }
    .title{
      text-align: right;
      direction: rtl;
    }
    .ct{
      margin-right: 10px;
    }
    
    .img-posts{
        width: 250px; /* تنظیم عرض دلخواه */
        height: 250px; /* تنظیم ارتفاع دلخواه */
        object-fit: cover; /* اطمینان از برش صحیح تصویر */
        border-radius: 10px; /* گوشه‌های گرد (اختیاری) */
    }
    

    
   </style>

  <!-- start footer Area -->
{% endblock %}
