{% load static %}

<div class="single-sidebar-widget user-info-widget text-center bg-light p-4 rounded shadow">


    <!-- نام کاربر -->
    {% if user.is_authenticated %}
        <img src="{{ user.profile.image.url }}" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%;">
        <a href="#"><h4>{{ user.username }}</h4></a>
    {% else %}
        <p><strong>اگر میخواهید تا سفر نامه ایجاد کنید، باید ابتدا وارد اکانتتون بشید</strong></p>
    {% endif %}

   

   

    <!-- دکمه ساخت پست جدید -->
    {% if user.is_authenticated %}
        <a href="{% url 'blog:create_post' %}" class="btn btn-primary btn-block mt-3">ساخت سفرنامه</a>
    {% else %}
        <a href="{% url 'accounts:login' %}" class="btn btn-warning btn-block mt-3">ورود به اکانت</a>
    {% endif %}
</div>
