{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load blog_tags %}

{% block content %}<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content blog-header-content col-lg-12">
							<h1 class="text-white">
								برای به اشتراک گذاشتن سفرنامه فقط کافیه که اکانت بسازید
							</h1>								
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->				  

			<!-- Start top-category-widget Area -->
			
			<!-- End top-category-widget Area -->
			
			<!-- Start post-content Area -->
			<section class="post-content-area">
				<section class="popular-destination-area section-gap">
					<div class="container">
					  <div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
						  <div class="title text-center">
							<h1 class="mb-10">تور های پیش رو</h1>
							<p>سه تور پیش روی که در بهمن ماه برگزار میشوند برای ثبت نام در تور ها باید به صفحه ی contact مراجعه کنید</p>
						  </div>
						</div>
					  </div>
					  <div class="row">
						<div class="col-lg-4">
						  <div class="single-destination relative">
							<div class="thumb relative">
							  <div class="overlay overlay-bg"></div>
							  <img class="img-fluid" src="{% static 'img/tours/masal/pic3.jfif' %}" alt="" />
							</div>
							<div class="desc">
							  <a href="{% url "website:tourone" %}" class="price-btn">اطلاعات بیشتر</a>
							  <h4>ماسال</h4>
							  <p>بهشت روی زمین</p>
							</div>
						  </div>
						</div>
						<div class="col-lg-4">
						  <div class="single-destination relative">
							<div class="thumb relative">
							  <div class="overlay overlay-bg"></div>
							  <img class="img-fluid" src="{% static 'img/tours/masole/pic1.jfif' %}" alt="" />
							</div>
							<div class="desc">
							  <a href="{% url "website:tourtwo" %}" class="price-btn">اطلاعات بیشتر</a>
							  <h4>ماسوله</h4>
							  <p>دومین شهر زنده باستانی جهان</p>
							</div>
						  </div>
						</div>
						<div class="col-lg-4">
						  <div class="single-destination relative">
							<div class="thumb relative">
							  <div class="overlay overlay-bg "></div>
							  <img class="img-fluid" src="{% static 'img/tours/kish/pic6.jpg' %}" alt="" />
							</div>
							<div class="desc">
							  <a href="{% url "website:tourthree" %}" class="price-btn">اطلاعات بیشتر</a>
							  <h4>جزیره کیش</h4>
							  <p>جزیره ی زیبایی</p>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </section>
				  <br>
				  <br>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 posts-list">
							{% for post in posts %}
							<div class="single-post row">
								<div class="col-lg-3  col-md-3 meta-details">
									<ul class="tags">
										
										{% for cat in post.category.all %}
										<li><a href="{% url "blog:category" cat_name=cat %}">{{cat.name}}</a></li>{% if not forloop.last %},{% endif %}
										{% endfor %}

									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="{% url "blog:author" author_username=post.author.username %}">{{post.author}}</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">{{post.created_date|naturaltime}}</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">{{post.counted_views}} بازدید ها</a> <span class="lnr lnr-eye"></span></p>
										<p class="comments col-lg-12 col-md-12 col-6"><a href="#">{% comments_count post.id %} کامنت</a> <span class="lnr lnr-bubble"></span></p>						
									</div>
								</div>
								<div class="col-lg-9 col-md-9 ">
									<div class="feature-img">
										<a href="{% url 'blog:single_blog' post.id %}"><img class="img-fluid" src="{{post.image.url}}" alt=""></a>
									</div>
									<a class="posts-title post-title" href="{% url 'blog:single_blog' post.id %}"><h3>{{post.title}}</h3></a>
									<br>
									<p class="excert post-content">{{post.content|truncatechars:70}}</p>
									<hr>
								</div>
							</div>		
							{% endfor %}											
		                    <nav class="blog-pagination justify-content-center d-flex">
								<ul class="pagination">
									{% if posts.has_previous %}
		                            <li class="page-item">
		                                <a href="?page={{posts.previous_page_number}}" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
									{% endif %}
									{% for i in posts.paginator.page_range %}
									{% if posts.number == i %}
										<li class="page-item active"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
										{% else %}
		                            	<li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
									{% endif %}
									{% endfor %}
									{% if posts.has_next %}
									<li class="page-item">
		                                <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
									{% endif %}
		                        </ul>
		                    </nav>
						</div>
						<div class="col-lg-4 sidebar-widgets">
							<div class="widget-wrap">
								<div class="single-sidebar-widget search-widget">
									<form class="search-form" action="{% url "blog:search" %}" method="get">
			                            <input placeholder="Search Posts" name="s" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'" >
			                            <button type="submit"><i class="fa fa-search"></i></button>
			                        </form>
								</div>
								
								{% include "blog/blog-writer.html" %}

								{% latestposts %}
								
								{% postcategories %}

								
													
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End post-content Area -->
			
			{% endblock %}